<div class="forms-container row">
	<div class="form-container col-xs-12 col-md-4">
		<%= render partial: 'forms/sign_in_form' %>
	</div>
	<div class="form-container col-xs-12 col-md-8">
		<%= render partial: 'forms/sign_up_form' %>			
	</div>
</div>
